<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registro de Categorías</title>
</head>

<body class="body_producto">
    <div class="producto_container">

        <form action="../categorias.php" method="POST">
            <h1>Registro de Categorías</h1>
            <label for="nombre_categoria">Nombre de la Categoría:</label>
            <input type="text" id="nombre_categoria" name="nombre_categoria" required>

            <div class="buttons">
                <button type="reset">Cancelar</button>
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
    <script src="/assets/js/validaciones.js"></script>
</body>

</html>