<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registro de Categorías</title>
</head>

<body class="body_producto">
    <div class="header">
        <div class="header-right">
            <a href="categorias.html">Categorías</a>
            <a href="productos.html">Productos</a>
            <a href="lista_categorias.php">lista categorias</a>
            <a href="lista_productos.php">lista Productos</a>
        </div>
        <div class="producto_container">

            <form id="formulario_categorias" class="formulario" action="../categorias.php" method="post">
                <h1>Registro de Categorías</h1>
                <label for="nombre">Nombre de la Categoría:</label>
                <input type="text" name="nombre">

                <div class="buttons">
                    <button type="reset">Cancelar</button>
                    <button type="submit">Guardar</button>
                </div>
            </form>
        </div>
        <script src="/assets/js/validaciones.js"></script>
    </div>
</body>

</html>