<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/estilos.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registro de Productos</title>
</head>

<body class="body_producto">
    <div class="producto_container">
        <form action="../productos.php" method="POST">
            <h1>Registro de productos</h1>
            <label for="nombre_producto">Nombre del Producto:</label>
            <input type="text" id="nombre_producto" name="nombre_producto" required>
            <label for="descripcion_producto">Descripción del Producto:</label>
            <textarea id="descripcion_producto" name="descripcion_producto" required></textarea>
            <label for="precio_producto">Precio del Producto:</label>
            <input type="number" id="precio_producto" name="precio_producto" step="0.01" required>
            <label for="categoria_producto">Categoría del Producto:</label>
            <select id="categoria_producto" name="categoria_producto" required>
                <?php
                // Código PHP para listar las categorías en el menú desplegable
                include '../class/autoload.php';
                $db = new Database();
                $conn = $db->connect();
                $query = 'SELECT * FROM categorias';
                $stmt = $conn->prepare($query);
                $stmt->execute();
                $categorias = $stmt->fetchAll(PDO::FETCH_ASSOC);
                foreach ($categorias as $categoria) {
                    echo '<option value="'.$categoria['id'].'">'.$categoria['nombre'].'</option>';
                }
                ?>
            </select>
            <div class="buttons">
                <button type="reset">Cancelar</button>
                <button type="submit">Guardar</button>
            </div>
        </form>
    </div>
    <script src="/assets/js/validaciones.js"></script>
</body>

</html>